body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: aqua;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: darkblue;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: darkblue;
}